@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


@import url('https://fonts.googleapis.com/css2? family = Abrir + Sans: wght @ 300 & display = swap'); 

*{
    margin:0px;
    padding: 0px;
  
  }