@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2? family = Abrir + Sans: wght @ 300 & display = swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
